# Carpetas de compilación
bin/
obj/
out/

# Archivos del sistema operativo
.DS_Store
Thumbs.db

# Base de datos local
*.db

# Archivos personales
*.user
*.suo
*.userprefs
*.cache

# Archivos secretos y configuración sensible
secrets.json
*.env
.env.local

# Node modules y dependencias JS (si usas alguna parte web)
node_modules/

# Configuraciones específicas del entorno
.vscode/
.idea/